<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <!-- CSS for Styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- JavaScript for Interactivity -->
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
        ></script>

        <!-- Font Awesome (added because you use icons in your prepend/append) -->
        <link
        rel="stylesheet"
        href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"
        />

                <!-- NAV BAR -->
            <meta charset='utf-8'>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/stylesheets/navbar.css">
            <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
            <script src="script.js"></script>

    </head>

    <header>
        <div id='cssmenu'>
            <ul>
              <li class='active'><a href='/createRestaurant'>Create Restaurant</a></li>
              <li><a href='/admin'>View All Reservations</a></li>
              <li><a href='/login'>Logout</a></li>
            </ul>
        </div>
        <h1><%= title %></h1>
    </header>

    <body>
        <div id='cssmenu'>
            <div>
                <h3>Create Restaurant and General Manager</h3>
                <form method="POST">
                <table class='table'>
                    <tr>
                        <th>Restaurant Name</th>
                        <td>
                            <input type="text" name="restaurantname" />
                        </td>
                    </tr>
                    <tr>
                        <th>General Manager Email</th>
                        <td>
                            <input type="email" name="gmemail" />
                        </td>
                    </tr>
                    <tr>
                        <th>General Manager Name</th>
                        <td>
                            <input type="text" name="gmname" />
                        </td>
                    </tr>
                    <tr>
                        <th>General Manager Account Password</th>
                        <td>
                            <input type="text" name="gmpassword" />
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="hidden" name="flag" value="create"/>
                            <button id="button" class="btn btn-lg btn-primary" value="create"
                            type="submit">Create</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div>
                <h3>View All Restaurants</h3>
                <% if(data.length>1) { %>
                <table class = 'table'>
                    
                    <thead>
                        <th>Restaurant Name</th>
                        <th>General Manager Email</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <%for(var i = 0; i < data.length; i++){ %>
                            <tr>
                                <td><%=data[i].restaurantname %></td>
                                <td><%=data[i].generalmanageremail %></td>
                                <td>
                                    <form method="POST">
                                        <input type="hidden" name="flag" value="delete"/>
                                        <input type="hidden" name="restauranttodelete" value="<%=data[i].restaurantname %>"/>
                                        <button id="button" class="btn btn-lg btn-danger" value="delete"
                                        type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
                <%}else{%>
                    <p style="color: tomato">No Restaurants Added</p>
                <%}%>
            </div>
        </div>
    </body>

    <footer>
        <h6>&copy;CS2102, AY18/19 Group 27 Restaurant Reservation</h6>
    </footer>
</html>