<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- ADDED JavaScript -->
</head>

<header>
    <h1><%= title %></h1>
    <p>Restaurant: <%= currentBranch.restaurantname %></p>
    <p>Branch: <%= currentBranch.brancharea %></p>
</header>

<body>
    <%if(msg){ %>
    <p style="color: tomato" ><%= msg %></p>
    <%}%>

    <% if(data.length > 0){%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Reservation ID</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Number of Diners</th>
                <th scope="col">Meal Reservation</th>
                <th scope="col">Reservation Date</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>    
        <tbody>
            <%for(var i=0; i<data.length; i++) { %>
                <tr id="listBookingRows">
                    <td id="ResId"><%= data[i].reservationid %></td>
                    <td id="custEmail"><%= data[i].customeremail %></td>
                    <td id="numDiners"><%= data[i].numdiner %></td>
                    <td id="mealRes"><%= data[i].mealtypename %></td>
                    <td id="resDate"><%= data[i].vacancydate %></td>

                    <td>
                        <form id="markFulfilled" action="" method="POST">
                            <input type="hidden" name=resId value="<%= data[i].reservationid %>">
                            <input type="hidden" name=flag value="fulfilled">
                            <button id="button" class="btn btn-lg btn-primary" value="Fulfilled" type="submit">Fulfilled</button>
                        </form>
                    </td>
                    <td>
                        <form id="markFulfilled" action="" method="POST">
                            <input type="hidden" name=resId value="<%= data[i].reservationid %>">
                            <input type="hidden" name=flag value="noshow">
                            <button id="button" class="btn btn-lg btn-primary" value="No Show" type="submit">No Show</button>
                        </form>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <%}else{%>
        <h3>***No Pending Reservations***</h3>
    <%}%>
</body>

</html>